
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body {
    min-height: 100vh;
    max-width:90%;
    background:#f7f1e3;
}

.account {
    background: #1e3799;
    color: white;
    /*box-shadow: 1px 1px 5px black;*/
    display:flex;
    justify-content:start;
}

.account:hover {
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.2);
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
}

.account-balance {
    font-size: 2em;
    margin: 0px;
}

.account-link {
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create {
    margin-bottom: 15px;
}

.credit-transaction {
    color: green;
}

.debit-transaction {
    color: red;
}

.loan {
    background: linear-gradient(45deg, #ee09cf, #0026ff);
    color: white;
}

.menu-logo {
    width: 100px;
    height: 40px;
}

.welcome {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    background-image: url(../img/avila.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    margin-top: 10%;
}
.container {
    max-width:100% !important;
}
.menu {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px 5px rgba(0,0,0,0.3);
  min-height: 100vh;
  border-radius: 0 20px 0 0;
  background: #778beb;
}
.left-menu {
    min-height:100vh;
    display:grid;
}
.client-name{
    justify-content: space-evenly;
}