* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    max-width:100%;
    overflow-x:hidden;
    background-color:#f1f2f6;
    color: #303952;
    transition: background-color 0.9s ease-in-out, color 0.9s ease-in-out;
}
body.light-theme {
    background-color:#f1f2f6;
    color: #303952;
}

body.dark-theme {
    background-color: #2f3640;
    color: #718093;
}

.account {
    background: linear-gradient(45deg,#487eb0,#00a8ff,#487eb0);
    color: white;
    /*box-shadow: 1px 1px 5px black;*/
    display:flex;
    justify-content:start;
}

.account:hover {
    box-shadow: 0 10px 20px 5px rgba(0,0,0,0.2);
}

.account-details-header {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
    color: white;
}

.account-balance {
    font-size: 2em;
    margin: 0px;
}

.account-link {
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create {
    margin-bottom: 15px;
}

.credit-transaction {
    color: green;
}

.debit-transaction {
    color: red;
}

.loan {
    background: linear-gradient(45deg, #ee09cf, #0026ff);
    color: white;
}

.menu-logo {
    width: 100px;
    height: 40px;
}

.welcome {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
}

.welcome-logo {
    width: 60%;
}

.index-body {
    background-image: url(../img/avila.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container {
    margin-top: 10%;
}
.container {
    max-width:100% !important;
}
/* ... (otros estilos) ... */

.menu {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  border-radius: 0 20px 20px 0;
  background: linear-gradient(45deg, #487eb0, #00a8ff, #487eb0);
}

.left-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.client-name {
  justify-content: space-evenly;
}

.theme-toggle-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.sign-out-container {
  position: absolute;
  bottom: 10px;
  left: auto;
  display:contents;
}
/*scrollbar*/
body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(45deg, #487eb0, #00a8ff, #487eb0);
    border-radius:8px;
}
body::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(45deg, #00a8ff,#487eb0, #00a8ff);
}